.root {
  max-width: 960px;
  width: 100%;
}

.appList {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  margin: 0 auto 1.5rem;
}

.blockList {
  display: grid;
  flex-flow: row wrap;
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-around;
  margin: 0 auto;
}

.icon {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
